header{
    z-index: 1;
    border-bottom: 2px solid black;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #232323;
    font-family: "Pacifico", cursive;
    color: #cdcdcd;
    
}
.container{
    width: auto;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;

}
.login_registration{
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: #cdcdcd;

}
.navigation{
    display: flex;
    gap: 60px;
}
.title:hover{
    cursor: default;
}
