form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
form{
    max-height: auto;
    width: 400px;
    background-color: #232323;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 55%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 0 50px 0 35px ;
}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}
label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}
.input_form_login{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 0 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin:  50px 0 25px 0;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
form h5,form a{
    font-size: 15px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: rgb(101, 101, 236);
    margin: 0;
    padding-bottom: 25px;
}

h4{
    font-size: 20px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: rgb(187, 33, 33);
}
.h4_index{
    color: rgb(255, 255, 255) !important;
}
.h4_true{
    font-size: 20px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
    color: rgb(32, 155, 69) !important;
}
#foto{
    height: 50px;
}
input#foto-upload-button{
    height: 50px;
    width: 50px;
}