.post-name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-block{
    display: flex;
    gap: 20px;
    margin: 0 15px 0 15px;
}
.comment-form{
    position: relative;
    top: 170px;
    max-height: max-content;
}
.comment-add{
    margin-top: 30px;
    width: 395px;
    height: 60px;
    color: black;
}
.limit{
    min-width: 0;
    white-space: nowrap; 
    overflow: hidden;    
    text-overflow: ellipsis;
    max-width: 200px;
}
.post_img{
    max-height: 400px;
}